---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}
<div>
		<div class="owl-carousel">
		{% for project in site.projects reversed %}
		<div data-hash="!{{ project.title | slugify }}" class="{% if project.doublepage == true %}double-wrapper{% else %}single-wrapper{% endif %}">
				<img src="{{ project.banner_image | absolute_url }}" alt="{{ project.title }}">
			{{ project.title }}
			</div>
			{% endfor %}
		
		</div>

		<div id="disqus_thread"></div>
		<script>function removeHash () { 
				history.pushState("", document.title, window.location.pathname + window.location.search);
			}</script>
<script>


    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var myPageID = location.hash.substr(2);
    var disqus_shortname = 'test-okdjndxd84';
    var disqus_identifier = "http://localhost:4000/#!{{ page.startseite | remove:'_projects/' | remove:'.html' }}";
    var disqus_url = "http://localhost:4000/#!{{ page.startseite | remove:'_projects/' | remove:'.html' }}";
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    /* * * Disqus Reset Function * * */
    var reset = function (newIdentifier, newUrl, newTitle, newLanguage) {
		myPageID = location.hash.substr(2);
        DISQUS.reset({
            reload: true,
            config: function () {
                this.page.identifier = 'http://localhost:4000/#!' + myPageID;
       			this.page.url = 'http://localhost:4000/#!' + myPageID;
				   console.log(this.page.url);
				   console.log(myPageID);
            }
        });
    };
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

		<script>$(document).ready(function(){
			if(window.location.hash) {
		var URLHash = 'URLHash';
} else {
	var URLHash = '{{ page.start_page }}';
}
			var owl = $('.owl-carousel');
			owl.owlCarousel({
				items:1,
				nav:true,
        loop:false,
        center:true,
		lazyLoad: true,
        margin:10,
        URLhashListener:true,
        autoplayHoverPause:true,
        startPosition: URLHash,
		autoHeight:true
			});
			$(document.documentElement).keyup(function(event) {    
        if (event.keyCode == 37) { /*left key*/
            owl.trigger('prev.owl.carousel');
        } else if (event.keyCode == 39) { /*right key*/
            owl.trigger('next.owl.carousel');
        }
    });
	owl.on('changed.owl.carousel', function(event) {
		console.log("changed" + location.hash.substr(2));
		reset();
		removeHash();
	})
		  });</script>