.login {
  position: relative;
  &__input {
    padding: 0.8rem;
    text-align: left;
    border: 1px solid #000;
    float: left;
  }
  &__btn {
    border: none;
    background: $color-primary;
    cursor: pointer;
    position: absolute;
    top: .5rem;
    margin-left: 1rem;
    font-family: WolpePegasus-Regular;
    font-size: 1.8rem;
  }
}
