*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 45%;
    }
}

body {
    box-sizing: border-box;
    position: relative;
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    color: var(--text-color);
    background-image: url('/assets/imgs/bg.png');
    background-size:contain;
    background-repeat: no-repeat;
}

a:link, a:visited {
    color: var(--main-link-color);
}

a:hover {
        color: var(--main-text-color);
}

.btn {
    background-image: url(/assets/imgs/button_bg.svg);
    padding: 4rem 5rem 4.5rem;
    background-size: 100% 100%;
}