.header {
    text-align: center;
    margin: 2rem 0 5rem;
    img {
        max-width: 40rem;
        margin-bottom: 4rem;
    }

    transition: color .2s ease;

    a:link, a:visited {
        color: var(--main-bg-color);
        text-decoration: none;
    }

    a:hover {
        color: var(--main-text-color);
    }
}