---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}
{% if page.show_promo == true %}
<div class="annoucement">
	<p>{{ page.promo }}</p>
	
</div>
{% endif %}
<div class="splash-landing" id="splashscreen">
	<div class="splash-landing-content">
		<div class="btn btn-splash btn-acts">
			<div class="btn-center"><a href="#!page-1" onClick="SetCookie('splash','true','365')">Act I</a><a class="btn-right" href="#!page-159" onClick="SetCookie('splash','true','365')">Act II</a></div></div><br>
			{% for project in site.projects %}
			{% if forloop.last %}
<div class="btn btn-splash"><div class="btn-center"><a href="#!{{ project.title | slugify }}" onClick="SetCookie('splashscreen','false','365')">
					Latest Update</a></div></div>
					{% endif %}
					{% endfor %}
<br><label class="container">
	<input type="checkbox" id="cookieCheck" checked="checked">
	<span class="checkmark">Always bring me to latest page</span>
  </label>
</div>
</div>
<div id="main-content">
	<div class="grey-left"><div class="clear"><p class="sidelink">Chapter</p></div><div class="inner"><ul>{% for project in site.projects %}
			{% if project.chapter == true %}
			<li>
			<a href="#!{{ project.title | slugify }}"><img class="chapter-bg" src="{{ project.chapter_bg | absolute_url }}" alt="{{ project.title }}"></a>
		</li>
		{% endif %}
		
			{% endfor %}</ul></div></div>
	<div class="grey-right"><div class="clear-left"><p class="sidelink">About</p></div><div class="inner inner-right">
		<h3>Story</h3>
		<div class="u-margin-bottom-medium">{{ page.story }}</div>

		<h3>About</h3>
		{{ page.about }}
	</div></div>
	<header class="header"><img src="/assets/imgs/logo.svg"><br>
		<a class="btn" href="https://www.patreon.com/heartofgoldcomic" target="_blank">Bonus Content on Patreon</a>
	
	</header>
		<div class="owl-carousel">
		{% for project in site.projects %}
		<div data-hash="!{{ project.title | slugify }}" class="{% if project.doublepage == true %}double-wrapper{% else %}single-wrapper{% endif %}">
				<img class="owl-lazy" data-src="{{ project.banner_image | absolute_url }}" alt="{{ project.title }}">
			<div class="page-content">
				<h2>{{ project.visible_title }}</h2>
			<p>{{ project.beschreibung }}</p>
		</div>
			</div>
			{% endfor %}
		
		</div>

		<div class="nav-first-last nav-elements">

		{% for project in site.projects limit:1 %}
<a class="carousel-nav" href="#!{{ project.title | slugify }}"><img src="/assets/imgs/arrowfirst.svg"></a>
{% endfor %}

{% for project in site.projects %}
{% if forloop.last %}
<a href="#!{{ project.title | slugify }}" class="nav-last carousel-nav"><img src="/assets/imgs/arrowlatest.svg"></a>
{% endif %}
{% endfor %}

</div>

		<div id="disqus_thread"></div>
		<script>
		var section = $(".grey-left").height();
		var win = $(window).height();
		var sectionright = $(".grey-right").height();

$('.grey-left').click(function(){
    jQuery(this).toggleClass('grey-left-open');
    if (section > win ) {
        $(".grey-left").toggleClass('grey-left-scroll');
    }
});

$('.grey-right').click(function(){
    jQuery(this).toggleClass('grey-right-open');
    if (sectionright > win ) {
        $(".grey-right").toggleClass('grey-left-scroll');
    }
});
</script>
		<script>function removeHash () { 
				history.pushState("", document.title, window.location.pathname + window.location.search);
			}</script>
<script>


    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var myPageID = location.hash.substr(2);
    var disqus_shortname = 'www-heart-of-gold-net';
    var disqus_identifier = "http://www.heartofgoldcomic.com/#!{{ page.startseite | remove:'_projects/' | remove:'.html' }}";
    var disqus_url = "http://www.heartofgoldcomic.com/#!{{ page.startseite | remove:'_projects/' | remove:'.html' }}";
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    /* * * Disqus Reset Function * * */
    var reset = function (newIdentifier, newUrl, newTitle, newLanguage) {
		myPageID = location.hash.substr(2);
        DISQUS.reset({
            reload: true,
            config: function () {
                this.page.identifier = 'http://www.heartofgoldcomic.com/#!' + myPageID;
       			this.page.url = 'http://www.heartofgoldcomic.com/#!' + myPageID;
				   console.log(this.page.url);
				   console.log(myPageID);
            }
        });
    };
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

		<script>$(document).ready(function(){
			if(window.location.hash) {
		var URLHash = 'URLHash';
} else {
	var URLHash = '{{ page.start_page }}';
}
			var owl = $('.owl-carousel');
			owl.owlCarousel({
				items:1,
				nav:true,
				autoplay:false,
        loop:false,
        center:true,
		lazyLoad: true,
        margin:10,
        URLhashListener:true,
		startPosition: URLHash,
		autoHeight:true,
		navText: ["<img src='/assets/imgs/arrowback.svg'>","<img src='/assets/imgs/arrowforward.svg'>"]
			});
			$(document.documentElement).keyup(function(event) {    
        if (event.keyCode == 37) { /*left key*/
            owl.trigger('prev.owl.carousel');
        } else if (event.keyCode == 39) { /*right key*/
            owl.trigger('next.owl.carousel');
        }
    });
	owl.on('changed.owl.carousel', function(event) {
		console.log("changed" + location.hash.substr(2));
		reset();
		removeHash();
	})
		  });
		  
		  </script>

		  <script>function SetCookie(c_name,value,expiredays)
				{
					if (document.getElementById("cookieCheck").checked == true) {
					var exdate=new Date()
					exdate.setDate(exdate.getDate()+expiredays)
					document.cookie=c_name+ "=" +escape(value)+
					((expiredays==null) ? "" : ";expires="+exdate.toGMTString());
					console.log("cookie set!");
				}
				document.getElementById("splashscreen").style.display=" none";
				document.getElementById('main-content').classList.remove('blurry');
				document.getElementById('body').style.overflow='auto';
				}
			</script>

<script>function removeBlur() {
	console.log("remove");
	document.getElementById("splashscreen").style.display=" none";
	document.getElementById('main-content').classList.remove('blurry');
	document.getElementById('body').style.overflow='auto';
	}
</script>
			
<script>
$(document).ready(function(){  

	if (document.cookie.match(/^(.*;)?\s*splashscreen\s*=\s*[^;]+(.*)?$/)) {
		document.getElementById("splashscreen").style.display="none";
}
else {
	document.getElementById("splashscreen").style.display="block";
	document.getElementById('main-content').classList.add('blurry');
	document.getElementById('body').style.overflow='hidden';
}

});

</script>