.single-wrapper {
    max-width: 50vw;
    margin: auto;
}

.double-wrapper {
    max-width: 70vw;
    margin: auto;
}

.owl-nav, .nav-first-last {
    position: fixed;
    top: 50vh;
    width: 85vw;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 10rem;
    line-height: 0;
}

.nav-first-last {
    top: 60vh;
    z-index:10;

    a {
        position: absolute;
    }
}

.clear {
    right: 0;
    position: absolute;
}

.inner {
    text-align: left;
    width: 20rem;
    margin-right: 8rem;
    top:20vh;
    position: relative;
    padding: 3rem;
}

.nav-last {
    right: 0;
}

.owl-next {
    right: 0;
    position: absolute;
}

.grey-left, .grey-right {
    font-family: var(--head-font-family);
    text-transform: uppercase;
    transition: all 0.5s ease;
    position: fixed;
    height: 100vh;
    text-align: center;
    bottom: 0;
    top: 0;
    z-index: 999;
    cursor: pointer;
    
    p {
        font-size: var(--medium-font-size);
        transform: rotate(-90deg);
        margin-top: 50vh;
    }

    ul {
        list-style: none;
    }
}

.chapter-bg {
    max-width:100%;
}

.grey-right {
    right: 0;
}

.grey-left {
    left: 0;
    transform: translateX(-20rem);
    &-open {
        transform: translateX(0);
        background: -moz-linear-gradient(left, rgba(25,25,33,1) 0%, rgba(25,25,33,1) 68%, rgba(25,25,33,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(25,25,33,1) 0%,rgba(25,25,33,1) 68%,rgba(25,25,33,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(25,25,33,1) 0%,rgba(25,25,33,1) 68%,rgba(25,25,33,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191921', endColorstr='#00191921',GradientType=1 ); /* IE6-9 */ }
}

.page-content {
    padding: 4rem 0 8rem;
    text-align: center;

    h2 {
        font-size: var(--h2-font-size);
        margin-bottom: var(--h2-margin-bottom);
    }
    p {
        font-size: var(--main-font-size);
    }
}

.owl-carousel {
    background-image: url(/assets/imgs/loadinglogo.gif);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: center 30vh;

    }

.carousel-nav {
    width: 6rem;
}

.owl-prev, .owl-next {
    width:4rem;
} 


#disqus_thread {
    max-width: 40vw;
    margin: auto;
}

.splash-landing {
    position: fixed;
    background-color:rgba(0,0,0,.9);
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    .btn {
        color:var(--main-bg-color);
    } 
    .btn-acts {
        background: url('/assets/imgs/act-selection.svg');
    }
    a {
        font-size: 4rem;
        text-decoration: none;
    }
}

.splash-landing-content {
    @include absCenter;
    font-size: 4rem;
}